@charset "utf-8";

$primary: #B1231F;
$light-accent: #C8C8C8;

$navbar-background-color: $primary;
$navbar-item-color: #000000;
@import "../node_modules/bulma/bulma.sass";

.player{
    position:absolute;
    width: 100%;
    height:100%;
    top:0px;
}



.player-container{
    padding-top: 56.25%;
    position:relative;
}

.controls{
    h1{
        margin:auto;
        text-align:center;
    }
}


.chat{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
#chat{
    display:flex;
    flex-direction:column-reverse;
}
.chat-messages{
    overflow-anchor: none;
    color: $link;
}

#anchor{
    overflow-anchor: auto;
    height:1px;
}

.column{
    height:80vh;
    box-shadow: 2px 0 0px 0px $light-accent;
}

html{
    overflow:hidden;
}

.chat-form{
    padding: 8px;
}
